---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import Hero from '../../components/ui/Hero';
import Caption from '../../components/ui/Caption';

import '../../assets/global.css'
import Title from '../../components/sections/Title';
import SideBar from '../../components/sections/SideBar';
import CaptionAnim from '../../components/ui/CaptionAnim';

export async function getStaticPaths() {
    const affiliations = await getCollection('affiliation')
    const affiliationsPaths = affiliations.map((item) => ({
        slug: item.slug, 
        title: item.data.title, 
        screenplay: item.data.screenplay, 
    }))
    return affiliationsPaths.map((affiliation) => ({
        params: {slug: affiliation.slug},
        props: {affiliation}
    }))
}


const { affiliation } = Astro.props;
const { slug } = Astro.params;
const { title, screenplay} = affiliation

---

<Layout>
	<div class="w-[100vw] h-[100vh] flex flex-row items-start">
        <p class="text-3xl">{JSON.stringify(screenplay)}</p>
	</div>
</Layout>