---
import { getCollection } from 'astro:content';
import Hero from '../components/ui/Hero';
import Input from '../components/ui/Input';
import Layout from '../layouts/Layout.astro';

const screenplays = await getCollection('screenplay')
---

<Layout>
	<div class="w-[100vw] h-[100vh] flex flex-col items-center justify-center p-10">
		<Hero client:load text='archetype'/>
		<Input client:load />
	</div>
</Layout>
