@import "tailwindcss";
@import '@fontsource-variable/anybody';
@import '@fontsource-variable/plus-jakarta-sans';

@theme {
    --font-heading: 'Anybody Variable', 'sans-serif';
    --color-liber-beige: #dad6cf;
    --color-liber-red: #fc3636;
    --color-liber-red-2: #A75B5B;
    --color-liber-red-3: #D24F4F;
    --color-liber-brown: #524848;
}

html {
  @apply text-liber-red;
  @apply transition-all;
  @apply duration-300;
  /* @apply bg-liber-beige; */
  @apply tracking-[0.01em];
  scroll-behavior: smooth;
  font-family: 'Plus Jakarta Sans Variable', 'sans-serif';
  @apply select-none;
}

* {
  @apply cursor-none;
  @apply **:cursor-none;
  @apply hover:cursor-none;
  @apply active:cursor-none;
  @apply focus:cursor-none;
}

h1, h2, h3, h4 {
    @apply font-heading;
    @apply font-bold;
}

h1 {
    @apply text-8xl;
}

@theme inline {
  --animate-first: moveVertical 30s ease infinite;
  --animate-second: moveInCircle 20s reverse infinite;
  --animate-third: moveInCircle 40s linear infinite;
  --animate-fourth: moveHorizontal 40s ease infinite;
  --animate-fifth: moveInCircle 20s ease infinite;

  @keyframes moveHorizontal {
    0% {
      transform: translateX(-50%) translateY(-10%);
    }
    50% {
      transform: translateX(50%) translateY(10%);
    }
    100% {
      transform: translateX(-50%) translateY(-10%);
    }
  }

  @keyframes moveInCircle {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(180deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes moveVertical {
    0% {
      transform: translateY(-50%);
    }
    50% {
      transform: translateY(50%);
    }
    100% {
      transform: translateY(-50%);
    }
  }
}

::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #4c0519;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #e11d48;
  /* border-radius: 2px; */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #881337;
}
